@{
    ViewData["Title"] = "Contraseña Restablecida";
    Layout = "_Layout";
}

<div class="row justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-md-6 col-lg-5">
        <div class="ra-alert ra-alert-success mt-4">
            <h4 class="alert-heading text-center">¡Contraseña Actualizada!</h4>
            <p>Tu contraseña ha sido restablecida exitosamente.</p>
            <div class="text-center mt-3">
                <a class="ra-btn ra-btn-primary" asp-action="Login">Regresar al Login</a>
            </div>
        </div>
    </div>
</div>
